* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
header {
  background-color: hsl();
}

main {
  border-top: 5px solid #000;
  background-color: hsl(0, 0%, 30%);
}

header,
main {
  min-height: 50%;
  padding-top: 64px;
}

.max-width-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.intro-chunk {
  padding: 0 24px;
}

.card {
  background-color: #fff;
  padding: 8px 24px 16px 24px;
}

.card .indented-heading {
  font-size: 1.5rem;
  background-color: hsl(45, 100%, 50%);
  max-width: fit-content;
  margin-top: 0;
  margin-left: -32px;
  padding: 16px 32px;
  border-bottom: 5px solid #000;
}
